@charset "UTF-8";
html, body {
  margin: 0;
  padding: 0;
  font-family: "Microsoft Yahei","微软雅黑","宋体","Arial Unicode MS",System;
  font-size: 14px;
  list-style: none;
  color: #2b2b2b;
  min-height: 100%;
  overflow-x: hidden;
  /*height: 100%;*/
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

img {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clearb:after {
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

i {
  font-style: normal;
}

.clearb {
  zoom: 1;
}

.clear {
  clear: both;
}

a {
  outline: 0;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a em {
  font-family: "Courier New",Courier,monospace;
  font-style: normal;
}

form, input, select {
  margin: 0;
  padding: 0;
}

img, input, select, label, button {
  vertical-align: middle;
  outline: none;
}

.hide {
  display: none;
}

html {
  font-size: 75px;
}

body {
  overflow-x: hidden;
  position: relative;
}

.mt10 {
  margin-top: 10px;
}

.icon-sprite, .icon-address, .icon-adizhi, .icon-border, .icon-border2, .icon-check, .icon-checked, .icon-cicon1, .icon-cicon2, .icon-cicon3, .icon-cicon4, .icon-close, .icon-del, .icon-edit, .icon-jian, .icon-logo, .icon-menu, .icon-message, .icon-message1, .icon-message2, .icon-message_bg, .icon-phone, .icon-quan, .icon-quan_hui, .icon-round_jian, .icon-sheep, .icon-sheep_head, .icon-shiyong, .icon-shopping, .icon-shopping_, .icon-succ, .icon-succ_bg, .icon-succ_order, .icon-success, .icon-tanhao, .icon-tit_bg, .icon-weixin, .icon-xiexian, .icon-yiguoqi {
  background-image: url('../images/icon-s6703e64a43.png');
  background-repeat: no-repeat;
}

.icon-address {
  background-position: 0 0;
}

.icon-adizhi {
  background-position: 0 -34px;
}

.icon-border {
  background-position: 0 -66px;
}

.icon-border2 {
  background-position: 0 -126px;
}

.icon-check {
  background-position: 0 -186px;
}

.icon-checked {
  background-position: 0 -230px;
}

.icon-cicon1 {
  background-position: 0 -274px;
}

.icon-cicon2 {
  background-position: 0 -308px;
}

.icon-cicon3 {
  background-position: 0 -346px;
}

.icon-cicon4 {
  background-position: 0 -376px;
}

.icon-close {
  background-position: 0 -402px;
}

.icon-del {
  background-position: 0 -438px;
}

.icon-edit {
  background-position: 0 -498px;
}

.icon-jian {
  background-position: 0 -558px;
}

.icon-logo {
  background-position: 0 -578px;
}

.icon-menu {
  background-position: 0 -659px;
}

.icon-message {
  background-position: 0 -692px;
}

.icon-message1 {
  background-position: 0 -732px;
}

.icon-message2 {
  background-position: 0 -822px;
}

.icon-message_bg {
  background-position: 0 -912px;
}

.icon-phone {
  background-position: 0 -922px;
}

.icon-quan {
  background-position: 0 -954px;
}

.icon-quan_hui {
  background-position: 0 -1054px;
}

.icon-round_jian {
  background-position: 0 -1154px;
}

.icon-sheep {
  background-position: 0 -1190px;
}

.icon-sheep_head {
  background-position: 0 -1253px;
}

.icon-shiyong {
  background-position: 0 -1413px;
}

.icon-shopping {
  background-position: 0 -1497px;
}

.icon-shopping_ {
  background-position: 0 -1545px;
}

.icon-succ {
  background-position: 0 -1598px;
}

.icon-succ_bg {
  background-position: 0 -1670px;
}

.icon-succ_order {
  background-position: 0 -1990px;
}

.icon-success {
  background-position: 0 -2360px;
}

.icon-tanhao {
  background-position: 0 -2400px;
}

.icon-tit_bg {
  background-position: 0 -2472px;
}

.icon-weixin {
  background-position: 0 -2547px;
}

.icon-xiexian {
  background-position: 0 -2588px;
}

.icon-yiguoqi {
  background-position: 0 -2611px;
}

.head {
  height: 44px;
  line-height: 44px;
  text-align: center;
  background: #e1ab8e;
  position: relative;
}
.head h1 {
  width: 71px;
  height: 40px;
  background: url("../images/icon/logo.png");
  background-size: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -35px;
  margin-top: -20px;
}

.menu {
  float: left;
  width: 40px;
  height: 100%;
  background: url("../images/icon/menu.png") center no-repeat;
  background-size: 20px 16px;
}

.shopping {
  float: right;
  width: 44px;
  height: 100%;
  position: relative;
  background: url("../images/icon/shopping.png") center no-repeat;
  background-size: 24px 24px;
}
.shopping i {
  position: absolute;
  top: 4px;
  left: 19px;
  color: #fff;
  background: #e1ab8e;
  line-height: 100%;
}

/*public scroll*/
.scroll {
  margin: 0 auto;
  position: relative;
}

.scroll_box {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}

.scroll_wrap {
  overflow: hidden;
  position: relative;
}

.scroll_wrap2 {
  overflow: hidden;
  position: relative;
}
.scroll_wrap2 li {
  height: 100%;
}
.scroll_wrap2 a {
  display: block;
  width: 100%;
  height: 100vw;
}
.scroll_wrap2 a img {
  height: 100%;
}

.scroll_wrap li, .scroll_wrap2 li {
  position: relative;
  display: block;
  width: 100%;
  float: left;
}

.scroll_wrap li a, .scroll_wrap2 li a {
  display: block;
  margin: 0 auto;
  position: relative;
}

.scroll_position {
  position: absolute;
  z-index: 400px;
  bottom: 14px;
  width: 100%;
  text-align: center;
}

.scroll_position li {
  display: inline-block;
  margin: 0 1px;
  width: 6px;
  height: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.4);
}

.scroll_position li a {
  font-size: 0;
}

.scroll_position li.on {
  background: none;
  border: 1px solid #fff;
}

.scroll_position_bg {
  background: #000;
  position: absolute;
  bottom: 12px;
  left: 42%;
  padding: 0 15px;
  z-index: 380px;
  height: 26px;
  -webkit-border-radius: 26px;
  border-radius: 26px;
}

.scroll_fix li {
  border: none;
  background: #fff;
}
.scroll_fix li.on {
  border: none;
  background: rgba(255, 255, 255, 0.5);
}

.index_tit {
  width: 265px;
  height: 38px;
  background: url("../images/icon/tit_bg.png");
  background-size: 100%;
  text-align: center;
  line-height: 34px;
  margin: 15px auto;
  font-weight: normal;
}

.index_list {
  margin: 0 10px;
  box-sizing: border-box;
  padding-bottom: 13px;
  border: 12px solid #fff;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-image: url(../images/icon/border.png) 20 round;
}
.index_list li {
  width: 50%;
  float: left;
  box-sizing: border-box;
}
.index_list li:nth-child(odd) {
  padding-right: 5px;
}
.index_list li:nth-child(even) {
  padding-left: 5px;
}

.il_wrap {
  padding-bottom: 8px;
  text-align: center;
}
.il_wrap a {
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
}
.il_wrap a img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.il_wrap p {
  line-height: 20px;
  padding-top: 5px;
  font-size: 12px;
  color: #646464;
}
.il_wrap span {
  color: #646464;
}

.bottom {
  background: #f5f5f5;
  margin-top: 10px;
  padding: 10px 15px 20px;
}
.bottom h3 {
  width: 287px;
  height: 65px;
  background: url(../images/bottom_tit.png);
  background-size: 100%;
  margin: 0 auto;
}
.bottom h4 {
  color: #323232;
  font-size: 14px;
  text-indent: 2em;
  line-height: 30px;
}
.bottom p {
  color: #646464;
  font-size: 12px;
  text-indent: 2em;
  line-height: 22px;
}

.list_con {
  padding: 10px 15px;
  border-bottom: 1px solid #e6e6e6;
  height: 80px;
}
.list_con .img_left {
  float: left;
  width: 112px;
  font-size: 0;
  margin-right: 10px;
}
.list_con .img_left span {
  display: inline-block;
  width: 22px;
  height: 22px;
  background: url(../images/icon/check.png);
  background-size: 100%;
  vertical-align: middle;
  margin-right: 10px;
}
.list_con .img_left .on {
  background: url(../images/icon/checked.png);
  background-size: 100%;
}
.list_con .img_left a {
  display: inline-block;
  width: 80px;
  height: 80px;
  vertical-align: middle;
}
.list_con .img_left a img {
  width: 100%;
  height: 100%;
}

.img_right {
  overflow: hidden;
}
.img_right h3 {
  color: #646464;
  font-weight: normal;
  height: 60px;
}
.img_right p {
  margin-top: 5px;
}
.img_right p .money {
  float: left;
  font-size: 14px;
  color: #646464;
}
.img_right p .number {
  float: right;
  color: #646464;
}

.list_bot {
  height: 30px;
  padding: 8px 15px;
  border-bottom: 1px solid #e6e6e6;
}

.shop_del {
  float: right;
  width: 30px;
  height: 30px;
  background: url(../images/icon/del.png);
  background-size: 100%;
  margin-right: 20px;
}

.shop_num {
  float: right;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  font-size: 0;
  text-align: center;
}
.shop_num a {
  display: inline-block;
  font-size: 24px;
  width: 28px;
  height: 28px;
  line-height: 25px;
  vertical-align: middle;
  background: #f5f5f5;
  color: #a0a0a0;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
}
.shop_num span {
  display: inline-block;
  font-size: 14px;
  color: #a0a0a0;
  width: 34px;
  height: 28px;
  line-height: 28px;
  vertical-align: middle;
}

.shop_bottom {
  width: 100%;
  height: 50px;
  border-top: 1px solid #e8e8e8;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #fff;
}
.shop_bottom span {
  color: #646464;
  font-size: 16px;
  line-height: 50px;
  margin-left: 15px;
}
.shop_bottom a {
  width: 120px;
  height: 100%;
  line-height: 50px;
  float: right;
  background: #e1ab8e;
  text-align: center;
  color: #fff;
  font-size: 16px;
}

.detail_tit {
  font-size: 16px;
  font-weight: normal;
  padding: 10px 15px;
  line-height: 22px;
  color: #323232;
  background: #fff;
}

.detail_per {
  color: #323232;
  font-size: 20px;
  padding: 5px 15px 10px 15px;
  border-bottom: 1px solid #e6e6e6;
  background: #fff;
}

.detail_size {
  height: 44px;
  line-height: 44px;
  padding: 0 15px;
  font-size: 16px;
  color: #323232;
  position: relative;
  display: block;
  background: #fff;
}
.detail_size:after {
  content: '';
  position: absolute;
  right: 15px;
  top: 13px;
  width: 18px;
  height: 18px;
  background: url(../images/icon/round_jian.png) no-repeat;
  background-size: 100%;
  transform: rotate(270deg);
}

.detail_list {
  background: #fff;
  margin-top: 10px;
}
.detail_list li h4 {
  height: 44px;
  line-height: 44px;
  padding: 0 15px;
  border-bottom: 1px solid #e6e6e6;
  font-size: 16px;
  color: #323232;
  position: relative;
  font-weight: normal;
}
.detail_list li h4:after {
  content: '';
  position: absolute;
  top: 13px;
  right: 15px;
  width: 18px;
  height: 18px;
  background: url(../images/icon/round_jian.png) no-repeat;
  background-size: 100%;
}
.detail_list li .on:after {
  -webkit-transition: all 1s ease 0;
  transition: all 1s ease 0;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.detail_list li p {
  padding: 5px 15px;
  line-height: 24px;
  font-size: 14px;
  color: #969696;
  border-bottom: 1px solid #e6e6e6;
  display: none;
}

.content {
  width: 100%;
  min-height: 100%;
  -webkit-transition: all 0.8s cubic-bezier(0.2, 0.3, 0.25, 0.9);
  transition: all 0.8s cubic-bezier(0.2, 0.3, 0.25, 0.9);
  background: #f5f5f5;
}
.content.in {
  -webkit-transform: translate3d(272px, 0, 0) !important;
  transform: translate3d(272px, 0, 0) !important;
  height: 100vh;
  overflow: hidden;
}

.nav {
  position: absolute;
  width: 272px;
  top: 0;
  left: 0;
  height: 100%;
  background: #72828e;
  display: none;
  transform-origin: 0px 0px 0px;
  transform: scale(1, 1);
  z-index: -1;
  overflow: auto;
}

.msite_overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
}

.head_nav {
  width: 100%;
  padding-top: 30px;
}
.head_nav dt {
  width: 80px;
  height: 80px;
  -webkit-border-radius: 80px;
  border-radius: 80px;
  overflow: hidden;
  margin: 0 auto;
}
.head_nav dt img {
  width: 100%;
  height: 100%;
}
.head_nav dd {
  margin-top: 5px;
  line-height: 24px;
  height: 24px;
  font-size: 12px;
  color: #fff;
  text-align: center;
}
.head_nav dd a {
  color: #fff;
}

.nav_list {
  margin-top: 30px;
  padding: 0 40px;
}
.nav_list li {
  height: 40px;
  line-height: 40px;
  position: relative;
}
.nav_list li a {
  color: #fff;
  font-size: 14px;
}
.nav_list li:after {
  content: "";
  position: absolute;
  top: 17px;
  right: 0;
  width: 6px;
  height: 10px;
  background: url(../images/icon/jian.png) no-repeat;
  background-size: 100%;
}

.selColor {
  background: #fff;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  display: none;
  z-index: 100000;
}

.detail_dl {
  padding: 30px 30px 15px 15px;
  border-bottom: 1px solid #ccc;
}
.detail_dl dt {
  float: left;
  margin-right: 15px;
  width: 115px;
  height: 115px;
  margin-top: -58px;
}
.detail_dl dt img {
  width: 100%;
  height: 100%;
}
.detail_dl dd {
  overflow: hidden;
}
.detail_dl dd h3 {
  color: #646464;
  font-size: 14px;
  height: 40px;
  line-height: 20px;
  font-weight: normal;
}
.detail_dl dd p {
  color: #646464;
  font-size: 14px;
  line-height: 20px;
}

.closeDdtail {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 18px;
  height: 18px;
  background: url(../images/icon/close.png) no-repeat;
  background-size: 100%;
}

.guige li {
  padding: 10px 15px 5px;
  border-bottom: 1px solid #ccc;
}
.guige li h4 {
  color: #323232;
  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
}

.kuai {
  padding: 10px 0;
}
.kuai span {
  display: inline-block;
  padding: 0 10px;
  height: 28px;
  line-height: 28px;
  -webkit-border-radius: 14px;
  border-radius: 14px;
  margin-right: 15px;
  font-size: 14px;
  background: #f5f5f5;
  color: #787878;
}
.kuai .on {
  background: #e1ab8e;
  color: #fff;
}

.gmsl {
  font-size: 16px;
  color: #323232;
  font-weight: normal;
  float: left;
  line-height: 30px;
}

.gou_bot {
  width: 100%;
  height: 50px;
  margin-top: 20px;
}
.gou_bot span {
  float: left;
  width: 50%;
  height: 100%;
  background: #ecbda4;
  color: #fff;
  font-size: 16px;
  text-align: center;
  line-height: 50px;
}
.gou_bot span:nth-of-type(2) {
  background: #e1ab8e;
}

.gsuc_tit {
  height: 55px;
  line-height: 55px;
  text-align: center;
  color: #444444;
  font-size: 18px;
  margin: 0 10px;
  border-bottom: 1px solid #ccc;
}
.gsuc_tit em {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  background: url(../images/icon/success.png) no-repeat;
  background-size: 100%;
  margin-right: 5px;
}

.gsucc_dl {
  background: #fff;
  padding: 10px 15px;
}
.gsucc_dl dt {
  float: left;
  width: 80px;
  height: 80px;
  margin-right: 10px;
}
.gsucc_dl dt img {
  width: 100%;
  height: 100%;
}
.gsucc_dl dd {
  overflow: hidden;
}
.gsucc_dl dd h4 {
  font-weight: normal;
  font-size: 14px;
  color: #646464;
  height: 65px;
}
.gsucc_dl dd p {
  font-size: 14px;
  line-height: 15px;
  color: #646464;
}
.gsucc_dl dd .num {
  float: right;
  font-style: normal;
}

.address {
  border-bottom: 1px solid #ccc;
  background: #fff;
  padding: 10px 10px 10px 35px;
  position: relative;
}
.address:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 10px;
  width: 14px;
  height: 17px;
  background: url(../images/icon/address.png) no-repeat;
  background-size: 100%;
  margin-top: -8px;
}
.address ul {
  display: table-cell;
  min-height: 60px;
}
.address ul li {
  line-height: 20px;
  color: #646464;
  font-size: 14px;
}
.address .address_you {
  display: table-cell;
}
.address .address_you p {
  line-height: 20px;
  color: #646464;
  font-size: 14px;
}
.address .address_you a {
  display: block;
  width: 80px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  border: 1px solid #e1ab8e;
  color: #e1ab8e;
  font-size: 14px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 10px auto 0;
}

.address_phone {
  background: #fff;
  position: relative;
  padding: 10px 0 10px 36px;
}
.address_phone:after {
  content: "";
  position: absolute;
  width: 11px;
  height: 16px;
  background: url(../images/icon/phone.png) no-repeat;
  background-size: 100%;
  top: 15px;
  left: 12px;
}
.address_phone input {
  border: 1px solid #ccc;
  width: 190px;
  height: 28px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 0 5px;
  margin-left: 5px;
}

.address_txt {
  background: #fff;
  border-top: 1px solid #ccc;
  padding: 10px 15px;
}
.address_txt label {
  float: left;
  margin-right: 10px;
}
.address_txt textarea {
  border: 1px solid #ccc;
  height: 60px;
  width: 220px;
  padding: 5px;
  line-height: 18px;
}

.quan {
  padding: 0 15px;
  height: 45px;
  line-height: 45px;
  background: #fff;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  font-size: 14px;
  color: #646464;
  position: relative;
  padding-right:45px;
}
.quan span{
  float:right;
  color:#b4b4b4;
  font-size:12px;
}
.quan:after {
  content: "";
  position: absolute;
  right: 15px;
  top: 13px;
  width: 20px;
  height: 20px;
  background: url(../images/icon/round_jian.png) no-repeat;
  -webkit-transform:rotate(-90deg);
  transform:rotate(-90deg);
  background-size: 100%;
}

.quan_limit {
  background: #fff;
  padding: 10px 15px;
}
.quan_limit dt {
  float: left;
}
.quan_limit dt h4 {
  color: #5a5858;
  font-size: 14px;
  line-height: 20px;
}
.quan_limit dt p {
  font-size: 12px;
  color: #969696;
  margin-top: 5px;
}
.quan_limit dd {
  float: right;
}

.quan_wrap {
  height: 50px;
  min-width: 85px;
  background: url(../images/icon/quan.png) no-repeat;
  background-size: 100%;
}
.quan_wrap p {
  line-height: 25px;
  text-align: center;
  color: #fff;
}
.quan_wrap .qw1 {
  font-size: 24px;
}
.quan_wrap .qw2 {
  font-size: 12px;
}

.add_adr {
  display: block;
  height: 30px;
  line-height: 30px;
  background: #ecbda4;
  text-align: center;
  color: #fff;
  margin: 10px 15px;
  font-size: 14px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.addre_list {
  background: #fff;
}
.addre_list li {
  position: relative;
  padding: 5px 60px 5px 15px;
  border-bottom: 1px solid #ccc;
}
.addre_list li h4 {
  font-size: 14px;
  color: #323232;
}
.addre_list li p {
  font-size: 14px;
  color: #969696;
  line-height: 20px;
  margin-top: 5px;
}
.addre_list li a {
  position: absolute;
  width: 30px;
  height: 30px;
  background: url(../images/icon/edit.png) no-repeat;
  background-size: 100%;
  top: 50%;
  right: 15px;
  margin-top: -15px;
}

.order_sheep {
  width: 80px;
  height: 70px;
  display: block;
  margin: 25px auto;
  background: url(../images/icon/sheep.png);
  background-size: 100%;
}

.order_wrap {
  width: 270px;
  height: 150px;
  background: url(../images/icon/succ_bg.png);
  background-size: 100%;
  margin: 0 auto;
  padding: 5px;
}
.order_wrap li {
  text-align: center;
  line-height: 20px;
  color: #999;
  font-size: 14px;
}
.order_wrap .ow_tit {
  font-size: 16px;
  color: #323232;
  margin: 20px 0 10px 0;
}
.order_wrap .ow_weixin {
  font-size: 16px;
  color: #323232;
  margin-top: 15px;
}
.order_wrap .ow_weixin span {
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
  width: 23px;
  height: 20px;
  background: url(../images/icon/weixin.png);
  background-size: 100%;
}

.order_bot {
  padding-top: 5px;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 40px;
  background: #f2f3f4;
  color: #a0a0a0;
  line-height: 18px;
  width: 100%;
  text-align: center;
}

.no_addAddress {
  background: #fff;
}
.no_addAddress li {
  padding: 5px;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
}
.no_addAddress li label {
  padding-left: 5px;
  float: left;
  width: 60px;
  line-height: 24px;
  font-size: 16px;
}

.no_text {
  height: 24px;
  line-height: 24px;
  width: 220px;
  padding: 0 5px;
  border: none;
  font-size: 16px;
}

.no_area {
  width: 220px;
  height: 60px;
  line-height: 20px;
  padding: 3px 5px;
  font-size: 16px;
  border: none;
}

.no_save {
  display: block;
  margin: 30px 15px;
  height: 40px;
  line-height: 40px;
  background: #ecbda4;
  color: #fff;
  text-align: center;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 16px;
}

.finish_wrap {
  width: 230px;
  height: 185px;
  background: url(../images/icon/succ_order.png);
  background-size: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 0 25px;
  line-height: 20px;
  overflow: hidden;
}
.finish_wrap h4 {
  font-size: 16px;
  color: #323232;
  font-weight: normal;
  margin-top: 20px;
}

.fin_line1 {
  color: #969696;
  font-size: 12px;
  margin-top: 6px;
}

.fin_line2 {
  color: #969696;
  font-size: 14px;
  margin-top: 12px;
}

.fin_tishi {
  text-align: left;
  margin-top: 10px;
  font-size: 12px;
  color: #b4b4b4;
}
.fin_tishi span {
  color: #646464;
}

.finish_cb {
  background: #ecbda4;
  text-align: center;
  height: 40px;
  line-height: 40px;
  color: #fff;
  font-size: 16px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  display: block;
  width: 280px;
  margin: 50px auto 0;
}

.order_tit {
  height: 40px;
  line-height: 40px;
  font-size: 0;
  text-align: center;
  background: #fff;
  border: 1px solid #ccc;
}
.order_tit span {
  display: inline-block;
  font-size: 16px;
  color: #323232;
  margin: 0 30px;
}
.order_tit .on {
  color: #e1ab8e;
  position: relative;
}
.order_tit .on:after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #e1ab8e;
}

.order_con {
  margin-top: 10px;
  position: absolute;
  width: 100%;
  top: 75px;
  left: 0;
  bottom: 0;
}

.orders {
  background: #fff;
  margin-top: 10px;
}
.orders h3 {
  border-bottom: 1px solid #ccc;
  height: 35px;
  line-height: 35px;
  color: #646464;
  font-size: 14px;
  padding: 0 15px;
  font-weight: normal;
}
.orders h3 span {
  float: right;
}
.orders h3 .no_pay {
  color: #ff2828;
}

.orders_list {
  padding: 0 15px;
}
.orders_list li {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}
.orders_list li i {
  float: left;
  width: 80px;
  height: 80px;
  margin-right: 10px;
}
.orders_list li i img {
  width: 100%;
  height: 100%;
}
.orders_list li .ol_wrap {
  overflow: hidden;
}
.orders_list li .ol_wrap h4 {
  font-weight: normal;
  font-size: 14px;
  color: #646464;
  height: 65px;
}
.orders_list li .ol_wrap p {
  font-size: 14px;
  line-height: 15px;
  color: #646464;
}
.orders_list li .ol_wrap .num {
  float: right;
  font-style: normal;
}

.orders_bot {
  height: 45px;
  line-height: 45px;
  color: #646464;
  padding: 0 15px;
  font-size: 14px;
}
.orders_bot span {
  float: right;
  height: 25px;
  line-height: 25px;
  text-align: center;
  color: #969696;
  margin-top: 10px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 0 6px;
}
.orders_bot .now_pay {
  border: 1px solid #e1ab8e;
  color: #e1ab8e;
}

.show_more {
  color: #969696;
  text-align: center;
  height: 30px;
  line-height: 30px;
  display: block;
  border-bottom: 1px solid #ccc;
  margin: 0 15px;
}

.odetail {
  padding: 0 15px;
  color: #787878;
  height: 35px;
  line-height: 35px;
  font-weight: normal;
  background: #fff;
  font-size: 14px;
  border-bottom: 1px solid #ccc;
}

.ode_list {
  padding: 5px 15px;
  background: #fff;
}
.ode_list li {
  padding: 4px 0;
  font-size: 14px;
}
.ode_list li span {
  float: left;
  width: 75px;
}
.ode_list li p {
  overflow: hidden;
  color: #646464;
}

.center_tit {
  height: 140px;
  width: 100%;
  background: url(../images/center_bg.jpg) center no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
}

.center_dl {
  margin: 30px auto 0;
  overflow: hidden;
  width: 200px;
}
.center_dl dt {
  width: 80px;
  height: 80px;
  -webkit-border-radius: 80px;
  border-radius: 80px;
  float: left;
  margin-right: 15px;
  background: url(../images/icon/sheep_head.png);
  background-size: 100%;
}
.center_dl dt img {
  width: 100%;
  height: 100%;
}
.center_dl dd p {
  line-height: 20px;
  color: #323232;
  font-size: 14px;
}
.center_dl dd p a {
  color: #323232;
  text-decoration: underline;
}

.message {
  position: absolute;
  right: 8px;
  top: 15px;
  width: 20px;
  height: 20px;
  background: url(../images/icon/message.png);
  background-size: 100%;
}
.message span {
  background: #fff;
  height: 15px;
  line-height: 15px;
  font-size: 12px;
  color: #ff2828;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  padding: 0 4px;
  position: absolute;
  right: -7px;
  top: -7px;
}

.center_wrap {
  padding-left: 15px;
  background: #fff;
  margin-bottom: 10px;
}

.center_ltit {
  padding-right: 45px;
  position: relative;
  height: 45px;
  line-height: 45px;
  color: #323232;
  font-size: 16px;
  font-weight: normal;
}
.center_ltit span {
  float: right;
  color: #646464;
  font-size: 12px;
}
.center_ltit i {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  position: relative;
}
.center_ltit:after {
  content: "";
  position: absolute;
  top: 13px;
  right: 15px;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  background: url(../images/icon/round_jian.png);
  background-size: 100%;
}

.my_order {
  background: url(../images/icon/cicon1.png);
  background-size: 100%;
  width: 15px;
  height: 17px;
  top: -2px;
}

.my_address {
  background: url(../images/icon/cicon2.png);
  background-size: 100%;
  width: 16px;
  height: 19px;
  top: -2px;
}

.my_fen {
  background: url(../images/icon/cicon3.png);
  background-size: 100%;
  width: 16px;
  height: 15px;
  top: -2px;
}

.my_quan {
  background: url(../images/icon/cicon4.png);
  background-size: 100%;
  width: 18px;
  height: 13px;
  top: -2px;
}

.myorder_list li {
  border-top: 1px solid #e6e6e6;
  height: 44px;
  line-height: 44px;
  font-size: 14px;
  color: #5a5858;
  padding-right: 15px;
}
.myorder_list li i {
  margin-left: 15px;
  color: #646464;
  font-style: normal;
}
.myorder_list li span {
  float: right;
  color: #969696;
}
.myorder_list li .no_fahuo {
  color: #ff2828;
}

.myaddre_list li {
  border-top: 1px solid #e6e6e6;
  line-height: 20px;
  font-size: 14px;
  color: #646464;
  padding: 8px 70px 8px 0;
  position: relative;
}
.myaddre_list li span {
  float: right;
}

.myfen_list li {
  border-top: 1px solid #e6e6e6;
  line-height: 20px;
  font-size: 14px;
  color: #646464;
  padding: 5px 15px 5px 0;
  position: relative;
}
.myfen_list li p {
  height: 28px;
  line-height: 28px;
}

.myquan_list {
  border-top: 1px solid #e6e6e6;
  line-height: 20px;
  font-size: 14px;
  color: #646464;
  position: relative;
}
.myquan_list .quan_limit {
  padding-left: 0;
}

.fen_date {
  float: right;
}

.shop_over {
  width: 70px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border: 1px solid #c8c8c8;
  color: #b4b4b4;
  font-size: 12px;
  display: inline-block;
}

.fenshu {
  float: right;
  color: #e1ab8e;
  font-weight: bold;
}

.medit {
  position: absolute;
  width: 30px;
  height: 30px;
  background: url(../images/icon/del.png);
  background-size: 100%;
  top: 50%;
  margin-top: -15px;
  right: 15px;
}

.my_peidi {
  padding: 0 15px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: #323232;
  background: #fff;
}
.my_peidi a {
  float: right;
  color: #e1ab8e;
}

.mypei_list {
  background: #fff;
}
.mypei_list li {
  padding: 5px 15px;
  border-top: 1px solid #e6e6e6;
}
.mypei_list li h4 {
  font-weight: normal;
  color: #323232;
  font-size: 14px;
  line-height: 20px;
}
.mypei_list li p {
  color: #969696;
  line-height: 20px;
  font-size: 14px;
}

.peiaddre_list {
  background: #fff;
  margin-bottom: 10px;
}

.bot {
  border-bottom: 1px solid #e6e6e6;
}

.peiDetail {
  padding: 5px 15px;
  border-bottom: 1px solid #e6e6e6;
}
.peiDetail h3 {
  font-weight: normal;
  color: #323232;
  font-size: 14px;
  line-height: 20px;
}
.peiDetail p {
  color: #969696;
  line-height: 20px;
  font-size: 14px;
}

.pei_bot {
  padding: 7px 15px;
  overflow: hidden;
  display:none;
}
.pei_bot a {
  float: right;
  width: 30px;
  height: 30px;
  margin-left: 20px;
}
.pei_bot .pei_edit {
  background: url(../images/icon/edit.png);
  background-size: 100%;
}
.pei_bot .pei_del {
  background: url(../images/icon/del.png);
  background-size: 100%;
}

.guoqi {
  background: url(../images/icon/quan_hui.png);
  background-size: 100%;
  position: relative;
}
.guoqi:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 42px;
  background: url(../images/icon/yiguoqi.png);
  background-size: 100%;
  right: 18px;
  top: 4px;
}

.shiyong {
  background: url(../images/icon/quan_hui.png);
  background-size: 100%;
  position: relative;
}
.shiyong:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 42px;
  background: url(../images/icon/shiyong.png);
  background-size: 100%;
  right: 18px;
  top: 4px;
}

.messages {
  background: #fff;
}
.messages li {
  position: relative;
  padding: 10px 15px 10px 70px;
  border-bottom: 1px solid #e6e6e6;
}
.messages li h3 {
  color: #969696;
  font-weight: normal;
}
.messages li h3 span {
  float: right;
}
.messages li p {
  color: #5a5858;
  font-size: 14px;
  margin-top: 5px;
}
.messages .system:before {
  content: "";
  position: absolute;
  left: 15px;
  top: 10px;
  width: 45px;
  height: 45px;
  background: url(../images/icon/message1.png);
  background-size: 100%;
}
.messages .jifen:before {
  content: "";
  position: absolute;
  left: 15px;
  top: 10px;
  width: 45px;
  height: 45px;
  background: url(../images/icon/message2.png);
  background-size: 100%;
}

.myscore {
  background: #e1ab8e;
  padding: 16px 0;
  overflow: hidden;
  margin-top:5px;
}
.myscore li {
  width: 50%;
  position: relative;
  float: left;
  text-align: center;
}
.myscore li h3 {
  color: #fff;
  font-size: 30px;
  line-height: 35px;
  font-weight: normal;
}
.myscore li p {
  color: #fff;
  font-size: 14px;
  line-height: 18px;
}
.myscore li:nth-child(1):after {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background: #fff;
  top: 0;
  right: 0;
}

.myscore_ul {
  padding-left: 15px;
  background: #fff;
}
.myscore_ul li {
  border-top: none;
}

.message_detail {
  margin: 25px 15px;
  border: 5px solid #fff;
  padding: 10px 15px;
  border-image: url(../images/icon/border2.png) 20 round;
}
.message_detail .mds_tit {
  font-size: 16px;
  color: #5a5858;
  font-weight: normal;
}
.message_detail .mds_time {
  font-size: 12px;
  color: #969696;
  margin-top: 8px;
}

.mds_con {
  margin-top: 10px;
}
.mds_con p {
  color: #787878;
  font-size: 14px;
  line-height: 22px;
}

#detail {
  position: absolute;
  width: 250px;
  height: 120px;
  background: #fff;
  border-radius: 10px;
  display: none;
  -webkit-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
}

#detail.in {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.pop_top {
  height: 75px;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #d5d5d5;
}

.bold_font {
  padding-top: 15px;
  line-height: 24px;
  font-size: 16px;
  font-weight: bold;
}

.small_hui {
  color: #999999;
  margin-top: 5px;
}

.pop_foot {
  display: -webkit-box;
  width: 100%;
}

.pop_foot a {
  display: block;
  -webkit-box-flex: 1;
  line-height: 44px;
  text-align: center;
  font-size: 16px;
  color: #2f88f0;
}

.pop_foot a:first-child {
  border-right: 1px solid #d5d5d5;
}

.shopping_list {
  padding-bottom: 48px;
}

.dList {
  max-height: 260px;
  overflow-y: auto;
}

.bgf {
  background: #fff;
}

.tanchu {
  position: fixed;
  background: black;
  padding: 15px 22px;
  color: white;
  font-size: 16px;
  border-radius: 10px;
  text-align: center;
}
.tanchu span {
  display: inline-block;
  width: 36px;
  height: 36px;
}
.tanchu .tsucc {
  background: url(../images/icon/succ.png);
  background-size: 100%;
}
.tanchu .ttan {
  background: url(../images/icon/tanhao.png);
  background-size: 100%;
}

.no_wrap {
  text-align: center;
}

.no_state {
  display: block;
  margin: 80px auto 20px;
  background: url(../images/sheep.png);
  width: 70px;
  height: 63px;
}

.ns_text {
  color: #969696;
  font-size: 14px;
}

.selyou {
  height: 40px;
  line-height: 40px;
  background: #f5f5f5;
  border-bottom: 1px solid #e6e6e6;
  padding: 0 15px;
  overflow: hidden;
  position: relative;
}
.selyou p {
  height: 1px;
  background: #e6e6e6;
  margin-top: 19px;
}
.selyou span {
  position: absolute;
  width: 140px;
  text-align: center;
  background: #f5f5f5;
  top: 0;
  left: 50%;
  margin-left: -70px;
  font-size: 14px;
  color: #5a5858;
}

.bushiyou {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 44px;
  line-height: 44px;
  background: #fff;
  text-align: center;
  color: #323232;
  right: 0;
  font-size: 16px;
}

.center_no {
  height: 44px;
  line-height: 44px;
  color: #646464;
  font-size: 14px;
  border-top: 1px solid #e6e6e6;
}

.add_dizhi {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  background: url(../images/icon/adizhi.png);
  background-size: 100%;
  margin-left: 5px;
}

.content2 {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  -webkit-transition: all 0.8s cubic-bezier(0.2, 0.3, 0.25, 0.9);
  transition: all 0.8s cubic-bezier(0.2, 0.3, 0.25, 0.9);
  background: #f5f5f5;
}
.content2.in {
  -webkit-transform: translate3d(272px, 0, 0) !important;
  transform: translate3d(272px, 0, 0) !important;
  height: 100vh;
  overflow: hidden;
}

.edit_tit {
  font-size: 14px;
  color: #323232;
  padding-top: 10px;
  font-weight: normal;
}

.edit_p {
  font-size: 10px;
  color: #b4b4b4;
  line-height: 18px;
}

.edit_wrap {
  padding: 0 15px;
}

.edit_txt {
  width: 100%;
  border: 1px solid #cecece;
  background: #fff;
  font-size: 14px;
  height: 44px;
  line-height: 44px;
  padding: 0 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 5px;
}

.edit_sex {
  border-radius: 5px;
  border: 1px solid #cecece;
  background: #fff;
}
.edit_sex li {
  height: 44px;
  line-height: 44px;
  padding-left: 38px;
  background: url(../images/icon/check.png) 10px center no-repeat;
  background-size: 16px 16px;
}
.edit_sex li:nth-child(1) {
  border-bottom: 1px solid #cecece;
}
.edit_sex .on {
  background: url(../images/icon/checked.png) 10px center no-repeat;
  background-size: 16px 16px;
}

.edit_sub {
  margin-top: 30px;
  display: block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #ecbda4;
  color: #fff;
  font-size: 16px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.city_sel select{
	padding:2px 6px;
	-webkit-appearance: none;
	appearance: none;
	border:1px solid #ccc;
	border-radius:5px;
}

/*加载更多*/
#pullUp, #pullUp2 {
  text-align: center;
  height: 42px;
  line-height: 42px;
}

.pullIcon {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 250ms;
}

.pullup .pullIcon, .flip .pullIcon {
  display: inline-block;
  width: 28px;
  height: 28px;
  background: url(../images/jiantou.png) center no-repeat;
  background-size: 28px 22px;
  vertical-align: middle;
}

#pullUp.flip .pullIcon, #pullUp2.flip .pullIcon {
  -webkit-transform: rotate(180deg) translateZ(0);
}

.loading .pullIcon {
  display: inline-block;
  width: 28px;
  height: 28px;
  background: url(../images/loading.png) center no-repeat;
  vertical-align: middle;
  -webkit-transform: rotate(0deg) translateZ(0);
  -webkit-transition-duration: 0ms;
  -webkit-animation-name: loading;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

.order {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

@-webkit-keyframes loading {
  from {
    -webkit-transform: rotate(0deg) translateZ(0);
  }
  to {
    -webkit-transform: rotate(360deg) translateZ(0);
  }
}

/*# sourceMappingURL=css.css.map */
