@charset "utf-8";
*{margin:0;padding:0;}
html{position: relative;}
body {color:#333;background-color: #fff;font-family: "微软雅黑";}
.login_bg{
	background:#e3b18c;
}
.login_wrap{
	margin:90px auto 0;
	width:635px;
}
.login_img{
	display:block;
	margin:0 auto;
	width:160px;
	height:160px;
	background:url(../images/icon/sheep_head.png);
}
.login_tip{
	color:#fff;
	font-weight:normal;
	font-size:18px;
	text-align:center;
	margin-top:18px
}
.txt_wrap{
	margin-top:80px;
	height:56px;
}
.txt_wrap p{
	border:1px solid #eda57d;
	border-radius:3px;
	background:#fff;
	font-size:0;
}
.txt_wrap p span{
	display:inline-block;
	height:56px;
	width:60px;
	vertical-align:middle;
}
.txt_wrap p input{
	height:56px;
	width:220px;
	padding:0 10px;
	line-height:54px;
	background:#fff;
	vertical-align:middle;
	border:none;
}
.txt1{float:left;}
.txt2{float:right}
.txt1 span{
	background:url(../images/login1.png) center no-repeat #ffddc8;
}
.txt2 span{
	background:url(../images/login2.png) center no-repeat #ffddc8;
}
.login_err{
	padding-left:22px;
	background:url(../images/login3.png) left center no-repeat;
	height:28px;
	line-height:28px;
	color:#ff392f;
	font-size:14px;
	margin-top:3px;
}
.login_sub{
	width:240px;
	height:56px;
	display:block;
	margin:15px auto 0;
	background:url(../images/login_bg.png) repeat;
	line-height:56px;
	color:#fff;
	text-align:center;
	text-decoration:none;
}
.login_bot{
	position:fixed;
	bottom:0;
	left:0;
	height:50px;
	width:100%;
	color:#fff;
	line-height:50px;
	background:#cd9064;
	text-align:center;
	font-size:14px;
}