html,body{margin:0;padding:0;font-family:"Microsoft Yahei","微软雅黑","宋体","Arial Unicode MS",System;font-size:14px;list-style:none;color:#2b2b2b;min-height:100%;overflow-x:hidden;height:100%;}
*{margin:0;padding:0;list-style:none;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;}
img{border:0}
table{border-collapse: collapse;
  border-spacing: 0;}
.clearb:after{display:block;font-size:0;content:" ";clear:both;height:0}
i{font-style:normal}
.clearb{zoom:1} 
.clear{clear:both}
a{outline:0}
a:link{text-decoration:none}
a:visited{text-decoration:none}
a:hover{text-decoration:none;}
a:active{text-decoration:none}
a em{font-family:"Courier New",Courier,monospace;font-style:normal}
form,input,select{margin:0;padding:0}
img,input,select,label,button{vertical-align:middle;outline:none;}
.hide{display:none}
$browser-default-font-size: 75px !default;
html {
    font-size: $browser-default-font-size;
}
body{overflow-x:hidden;position:relative;}
.mt10{
	margin-top:10px;
}

@import "icon/*.png";
@include  all-icon-sprites;

@mixin fn($name){
	background:url("../images/icon/"+$name+".png");
	background-size:100%;
}

@function pxTorem($px){//$px为需要转换的字号
    @return $px / $browser-default-font-size * 1rem;
}

@mixin font-dpr($font-size){
    font-size: $font-size;

    [data-dpr="2"] & {
        font-size: $font-size * 2;
    }

    [data-dpr="3"] & {
        font-size: $font-size * 3;
    }
}

.head{
	height:44px;
	line-height:44px;
	text-align:center;
	background:#e1ab8e;
	position:relative;
	h1{
        width:71px;
        height:40px;
		// background:url(../images/icon/logo.png);
		// background-size:100%;
		@include fn(logo);
		position:absolute;
		left:50%;
		top:50%;
		margin-left:-35px;
		margin-top:-20px;
	}
}
.menu{
	float:left;
	width:20px;
	height:17px;
    @include fn(menu);
	margin:14px 0 0 10px;
}
.shopping{
	float:right;
	width:24px;
	height:24px;
	position:relative;
	@include fn(shopping);
	margin:10px 10px 0 0;
	i{
		position:absolute;
		top:-6px;
		left:9px;
		color:#fff;
		background:#e1ab8e;
		line-height:100%;
	}
}

/*public scroll*/
.scroll{margin:0 auto;position:relative;}
.scroll_box{overflow:hidden;visibility:hidden;position:relative;}
.scroll_wrap{overflow:hidden; position:relative;}
.scroll_wrap2{
	li{
		height:100%;
	}
	overflow:hidden; position:relative;
	a{
		display:block;
		width:100%;
		height:100vw;
		img{
			height:100%;
		}
	}
}
.scroll_wrap li,.scroll_wrap2 li{position:relative;display:block;width:100%;float:left;}
.scroll_wrap li a,.scroll_wrap2 li a{display:block;margin:0 auto;position:relative;}
.scroll_position{position:absolute;z-index:400px;bottom:14px;width:100%;text-align:center;}
.scroll_position li{display:inline-block;margin:0 1px;width:6px;height:6px;-webkit-border-radius:6px;border-radius:6px;background:rgba(255,255,255,0.4);}
.scroll_position li a{font-size:0;}
.scroll_position li.on{background:none;border:1px solid #fff;}
.scroll_position_bg{background:#000;position:absolute;bottom:12px;left:42%;padding:0 15px;z-index:380px;height:26px;-webkit-border-radius:26px;border-radius:26px;}
.scroll_fix{
	li{
		border:none;
		background:#fff;
		&.on{
			border:none;
			background:rgba(255,255,255,0.5);
		}
	}
}
.index_tit{
	width:265px;
	height:38px;
	@include fn(tit_bg);
	text-align:center;
	line-height:34px;
	margin:15px auto;
	font-weight:normal;
}
.index_list{
	margin:0 10px;
	box-sizing:border-box;
	li{
		width:50%;
		float:left;
		box-sizing:border-box;
		&:nth-child(odd){
			padding-right:5px;
		}
		&:nth-child(even){
			padding-left:5px;
		}
	}
	padding-bottom:13px;
	// background:url(../images/icon/xiexian.png) bottom repeat-x;
	border:12px solid #fff;
	border-top:0;
	border-right:0;
	border-left:0;
	border-image:url(../images/icon/border.png) 20 round;
}
.il_wrap{
	padding-bottom:8px;
	text-align:center;
	a{
		display:block;
		position:relative;
		width:100%;
		padding-bottom:100%;
		img{
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
		}
	}
	p{
		line-height:20px;
		padding-top:5px;
		font-size:12px;
		color:#646464;
	}
	span{
		color:#646464;
	}
}
.bottom{
	background:#f5f5f5;
	margin-top:10px;
	padding:10px 15px 20px;
	h3{
		width:287px;
		height:65px;
		background:url(../images/bottom_tit.png);
		background-size:100%;
		margin:0 auto;
	}
	h4{
		color:#323232;
		font-size:14px;
		text-indent:2em;
		line-height:30px;
	}
	p{
		color:#646464;
		font-size:12px;
		text-indent:2em;
		line-height:22px;
	}
}

.list_con{
	padding:10px 15px;
	border-bottom:1px solid #e6e6e6;
	height:80px;
	.img_left{
		float:left;
		width:112px;
		font-size:0;
		margin-right:10px;
		span{
			display:inline-block;
			width:22px;
			height:22px;
			background:url(../images/check.png);
			background-size:100%;
			vertical-align:middle;
			margin-right:10px;
		}
		.on{
			background:url(../images/checked.png);
			background-size:100%;
		}
		a{
			display:inline-block;
			width:80px;
			height:80px;
			vertical-align:middle;
			img{
				width:100%;
				height:100%;
			}
		}
	}
}
.img_right{
	overflow:hidden;
	h3{
		color:#646464;
		font-weight:normal;
		height:60px
	}
	p{
		margin-top:5px;
		.money{
			float:left;
			font-size:14px;
			color:#646464;
		}
		.number{
			float:right;
			color:#646464;
		}
	}
}
.list_bot{
	height:30px;
	padding:8px 15px;
	border-bottom:1px solid #e6e6e6;
}
.shop_del{
	float:right;
	width:30px;
	height:30px;
	background:url(../images/icon/del.png);
	background-size:100%;
	margin-right:20px;
}
.shop_num{
	float:right;
	border-top:1px solid #e6e6e6;
	border-bottom:1px solid #e6e6e6;
	font-size:0;
	text-align:center;
	a{
		display:inline-block;
		font-size:24px;
		width:28px;
		height:28px;
		line-height:25px;
		vertical-align:middle;
		background:#f5f5f5;
		color:#a0a0a0;
		border-left:1px solid #e6e6e6;
		border-right:1px solid #e6e6e6;
	}
	span{
		display:inline-block;
		font-size:14px;
		color:#a0a0a0;
		width:34px;
		height:28px;
		line-height:28px;
		vertical-align: middle;
	}
}

.shop_bottom{
	width:100%;
	height:50px;
	border-top:1px solid #e8e8e8;
	position:fixed;
	bottom:0;
	left:0;
	background:#fff;
	span{
		color:#646464;
		font-size:16px;
		line-height:50px;
		margin-left:15px;
	}
	a{
		width:120px;
		height:100%;
		line-height:50px;
		float:right;
		background:#e1ab8e;
		text-align:center;
		color:#fff;
		font-size:16px;
	}
}
.detail_tit{
	font-size:16px;
	font-weight:normal;
	padding:10px 15px;
	line-height: 22px;
	color:#323232;
	background:#fff;
}
.detail_per{
	color:#323232;
	font-size:20px;
	padding:5px 15px 10px 15px;
	border-bottom:1px solid #e6e6e6;
	background:#fff;
}
.detail_size{
	height:44px;
	line-height:44px;
	padding:0 15px;
	font-size:16px;
	color:#323232;
	position:relative;
	display:block;
	background:#fff;
	&:after{
		content:'';
		position:absolute;
		right:15px;
		top:13px;
		width:18px;
		height:18px;
		background:url(../images/icon/round_jian.png) no-repeat;
		background-size:100%;
		transform:rotate(270deg)
	}
}
.detail_list{
	background:#fff;
	margin-top:10px;
	li{
		h4{
			height:44px;
			line-height:44px;
			padding:0 15px;
			border-bottom:1px solid #e6e6e6;
			font-size:16px;
			color:#323232;
			position:relative;
			font-weight:normal;
			&:after{
				content:'';
				position:absolute;
				top:13px;
				right:15px;
				width:18px;
				height:18px;
				background:url(../images/icon/round_jian.png) no-repeat;
				background-size:100%;
				// transform:rotate(180deg);
			}
		}
		.on:after{
			-webkit-transition:all 1s ease 0;
			transition:all 1s ease 0;
			-webkit-transform:rotate(180deg);
			transform:rotate(180deg);
		}
		p{
			padding:5px 15px;
			line-height:24px;
			font-size:14px;
			color:#969696;
			border-bottom:1px solid #e6e6e6;
			display:none;
		}
	}
}
.content{
	width:100%;
	min-height:100%;
	-webkit-transition:all .8s cubic-bezier(0.2,.3,.25,.9);
	transition:all .8s cubic-bezier(0.2,.3,.25,.9);
	background:#f5f5f5;
	&.in{
		-webkit-transform:translate3d(272px,0,0)!important;
		transform:translate3d(272px,0,0)!important;
		height:100vh;
		overflow:hidden;
	}
}
.nav{
	position:absolute;
	width:272px;
	top:0;
	left:0;
	height:100%;
	background:#72828e;
	display:none;
	transform-origin:0px 0px 0px;
	transform:scale(1, 1);
	z-index:-1;
	overflow:auto;
}
.msite_overlay{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:99999;
}
.head_nav{
	width:100%;
	padding-top:30px;
	dt{
		width:80px;
		height:80px;
		-webkit-border-radius:80px;
		border-radius:80px;
		overflow:hidden;
		margin:0 auto;
		img{
			width:100%;
			height:100%;
		}
	}
	dd{
		margin-top:5px;
		line-height:24px;
		height:24px;
		font-size:12px;
		color:#fff;
		text-align:center;
		a{
			color:#fff;
		}
	}
}
.nav_list{
	margin-top:30px;
	padding:0 40px;
	li{
		height:40px;
		line-height:40px;
		position:relative;
		a{
			color:#fff;
			font-size:14px;
		}
		&:after{
			content:"";
			position:absolute;
			top:17px;
			right:0;
			width:6px;
			height:10px;
			background:url(../images/icon/jian.png) no-repeat;
			background-size:100%;
		}
	}
}

.selColor{
	background:#fff;
	width:100%;
	position:fixed;
	left:0;
	bottom:0;
	display:none;
	z-index:100000;
}
.detail_dl{
	padding:30px 30px 15px 15px;
	border-bottom:1px solid #ccc;
	dt{
		float:left;
		margin-right:15px;
		width:115px;
		height:115px;
		margin-top:-58px;
		img{
			width:100%;
			height:100%;
		}
	}
	dd{
		overflow:hidden;
		h3{
			color:#646464;
			font-size:14px;
			height:40px;
			line-height:20px;
			font-weight:normal;
		}
		p{
			color:#646464;
			font-size:14px;
			line-height:20px;
		}
	}
}
.closeDdtail{
	position:absolute;
	top:10px;
	right:10px;
	width:18px;
	height:18px;
	background:url(../images/icon/close.png) no-repeat;
	background-size:100%;
}
.guige{
	// padding:10px 0;
	li{
		padding:10px 15px 5px;
		border-bottom:1px solid #ccc;
		h4{
			color:#323232;
			font-size:16px;
			font-weight:normal;
			line-height:22px;
		}
	}
}
.kuai{
	padding:10px 0;
	span{
		display:inline-block;
		padding:0 10px;
		height:28px;
		line-height:28px;
		-webkit-border-radius:14px;
		border-radius:14px;
		margin-right:15px;
		font-size:14px;
		background:#f5f5f5;
		color:#787878;
	}
	.on{
		background:#e1ab8e;
		color:#fff;
	}
}
.gmsl{
	font-size:16px;
	color:#323232;
	font-weight:normal;
	float:left;
	line-height:30px;
}
.gou_bot{
	width:100%;
	height:50px;
	margin-top:20px;
	span{
		float:left;
		width:50%;
		height:100%;
		background:#ecbda4;
		color:#fff;
		font-size:16px;
		text-align:center;
		line-height:50px;
		&:nth-of-type(2){
			background:#e1ab8e;
		}
	}
}
.gsuc_tit{
	height:55px;
	line-height:55px;
	text-align:center;
	color:#444444;
	font-size:18px;
	margin:0 10px;
	border-bottom:1px solid #ccc;
	em{
		display:inline-block;
		width:20px;
		height:20px;
		vertical-align:middle;
		background:url(../images/icon/success.png) no-repeat;
		background-size:100%;
		margin-right:5px;
	}
}
.gsucc_dl{
	background:#fff;
	padding:10px 15px;
	dt{
		float:left;
		width:80px;
		height:80px;
		margin-right:10px;
		img{
			width:100%;
			height:100%;
		}
	}
	dd{
		overflow:hidden;
		h4{
			font-weight:normal;
			font-size:14px;
			color:#646464;
			height:65px;
		}
		p{
			font-size:14px;
			line-height:15px;
			color:#646464;
		}
		.num{
			float:right;
			font-style:normal;
		}
	}
}
.address{
	border-bottom:1px solid #ccc;
	background:#fff;
	padding:10px 10px 10px 35px;
	position:relative;
	&:after{
		content:"";
		position:absolute;
		top:50%;
		left:10px;
		width:14px;
		height:17px;
		background:url(../images/icon/address.png) no-repeat;
		background-size:100%;
		margin-top:-8px;
	}
	ul{
		display:table-cell;
		min-height:60px;
		li{
			line-height:20px;
			color:#646464;
			font-size:14px;
		}
	}
	.address_you{
		display:table-cell;
		p{
			line-height:20px;
			color:#646464;
			font-size:14px;
		}
		a{
			display:block;
			width:80px;
			height:28px;
			text-align:center;
			line-height:28px;
			border:1px solid #e1ab8e;
			color:#e1ab8e;
			font-size:14px;
			-webkit-border-radius:5px;
			border-radius:5px;
			margin:10px auto 0;
		}
	}
}
.address_phone{
	background:#fff;
	position:relative;
	padding:10px 0 10px 36px;
	&:after{
		content:"";
		position:absolute;
		width:11px;
		height:16px;
		background:url(../images/icon/phone.png) no-repeat;
		background-size:100%;
		top:15px;
		left:12px;
	}
	input{
		border:1px solid #ccc;
		width:190px;
		height:28px;
		-webkit-border-radius:5px;
		border-radius:5px;
		padding:0 5px;
		margin-left:5px;
	}
}
.address_txt{
	background:#fff;
	border-top:1px solid #ccc;
	padding:10px 15px;
	label{
		float:left;
		margin-right:10px;
	}
	textarea{
		border:1px solid #ccc;
		height:60px;
		width:220px;
		padding:5px;
		line-height:18px;
	}
}
.quan{
	padding:0 15px;
	height:45px;
	line-height:45px;
	background:#fff;
	border-bottom:1px solid #ccc;
	border-top:1px solid #ccc;
	font-size:14px;
	color:#646464;
	position:relative;
	&:after{
		content:"";
		position:absolute;
		right:15px;
		top:15px;
		width:20px;
		height:20px;
		background:url(../images/icon/check.png) no-repeat;
		background-size:100%;
	}
}
.quan_limit{
	background:#fff;
	padding:10px 15px;
	dt{
		float:left;
		h4{
			color:#5a5858;
			font-size:14px;
			line-height:20px;
		}
		p{
			font-size:12px;
			color:#969696;
			margin-top:5px;
		}
	}
	dd{
		float:right;
	}
}
.quan_wrap{
	height:50px;
	min-width:85px;
	background:url(../images/icon/quan.png) no-repeat;
	background-size:100%;
	p{
		line-height:25px;
		text-align:center;
		color:#fff;
	}
	.qw1{
		font-size:24px;
		// font-weight:bold;
	}
	.qw2{
		font-size:12px;
	}
}

.add_adr{
	display:block;
	height:30px;
	line-height:30px;
	background:#ecbda4;
	text-align:center;
	color:#fff;
	margin:10px 15px;
	font-size:14px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

.addre_list{
	background:#fff;
	li{
		position:relative;
		padding:5px 60px 5px 15px;
		border-bottom:1px solid #ccc;
		h4{
			font-size:14px;
			color:#323232;
		}
		p{
			font-size:14px;
			color:#969696;
			line-height:20px;
			margin-top:5px;
		}
		a{
			position:absolute;
			width:30px;
			height:30px;
			background:url(../images/icon/edit.png) no-repeat;
			background-size:100%;
			top:50%;
			right:15px;
			margin-top:-15px;
		}
	}
}

.order_sheep{
	width:80px;
	height:70px;
	display:block;
	margin:25px auto;
	background:url(../images/icon/sheep.png);
	background-size:100%;
}
.order_wrap{
	width:270px;
	height:150px;
	background:url(../images/icon/succ_bg.png);
	background-size:100%;
	margin:0 auto;
	padding:5px;
	li{
		text-align:center;
		line-height:20px;
		color:#999;
		font-size:14px;
	}
	.ow_tit{
		font-size:16px;
		color:#323232;
		margin:20px 0 10px 0;
	}
	.ow_weixin{
		font-size:16px;
		color:#323232;
		margin-top:15px;
		span{
			margin-right:5px;
			display:inline-block;
			vertical-align:middle;
			width:23px;
			height:20px;
			background:url(../images/icon/weixin.png);
			background-size:100%;
		}
	}
}

.order_bot{
	padding-top:5px;
	position:fixed;
	bottom:0;
	left:0;
	height:40px;
	background:#f2f3f4;
	color:#a0a0a0;
	line-height:18px;
	width:100%;
	text-align:center;
}
.no_addAddress{
	background:#fff;
	li{
		padding:5px;
		overflow:hidden;
		border-bottom:1px solid #ccc;
		label{
			padding-left:5px;
			float:left;
			width:60px;
			line-height:24px;
			font-size:16px;
		}
	}
}
.no_text{
	height:24px;
	line-height:24px;
	width:220px;
	padding:0 5px;
	border:none;
	font-size:16px;
}
.no_area{
	width:220px;
	height:60px;
	line-height:20px;
	padding:3px 5px;
	font-size:16px;
	border:none;
}
.no_save{
	display:block;
	margin:30px 15px;
	height:40px;
	line-height:40px;
	background:#ecbda4;
	color:#fff;
	text-align:center;
	-webkit-border-radius:5px;
	border-radius:5px;
	font-size:16px;
}
.finish_wrap{
	width:230px;
	height:185px;
	background:url(../images/icon/succ_order.png);
	background-size:100%;
	margin:0 auto;
	text-align:center;
	padding:0 25px;
	line-height:20px;
	overflow:hidden;
	h4{
		font-size:16px;
		color:#323232;
		font-weight:normal;
		margin-top:20px;
	}
}
.fin_line1{
	color:#969696;
	font-size:12px;
	margin-top:6px;
}
.fin_line2{
	color:#969696;
	font-size:14px;
	margin-top:12px;
}
.fin_tishi{
	text-align:left;
	margin-top:10px;
	font-size:12px;
	color:#b4b4b4;
	span{
		color:#646464;
	}
}
.finish_cb{
	background:#ecbda4;
	text-align:center;
	height:40px;
	line-height:40px;
	color:#fff;
	font-size:16px;
	-webkit-border-radius:20px;
	border-radius:20px;
	display:block;
	width:280px;
	margin:50px auto 0;
}
.order_tit{
	height:40px;
	line-height:40px;
	font-size:0;
	text-align:center;
	background:#fff;
	border:1px solid #ccc;
	span{
		display:inline-block;
		font-size:16px;
		color:#323232;
		margin:0 30px;
	}
	.on{
		color:#e1ab8e;
		position:relative;
		&:after{
			content:"";
			position:absolute;
			bottom:-1px;
			left:0;
			width:100%;
			height:1px;
			background:#e1ab8e;
		}
	}
}
.order_con{
	margin-top:10px;
	position:absolute;
	width:100%;
	top:75px;
	left:0;
	bottom:0;
}
.orders{
	background:#fff;
	margin-top:10px;
	h3{
		border-bottom:1px solid #ccc;
		height:35px;
		line-height:35px;
		color:#646464;
		font-size:14px;
		padding:0 15px;
		font-weight:normal;
		span{
			float:right;
		}
		.no_pay{
			color:#ff2828;
		}
	}
}
.orders_list{
	padding:0 15px;
	li{
		padding:10px 0;
		border-bottom:1px solid #ccc;
		i{
			float:left;
			width:80px;
			height:80px;
			margin-right:10px;
			img{
				width:100%;
				height:100%;
			}
		}
		.ol_wrap{
			overflow:hidden;
			h4{
				font-weight:normal;
				font-size:14px;
				color:#646464;
				height:65px;
			}
			p{
				font-size:14px;
				line-height:15px;
				color:#646464;
			}
			.num{
				float:right;
				font-style:normal;
			}
		}
	}
}
.orders_bot{
	height:45px;
	line-height:45px;
	color:#646464;
	padding:0 15px;
	font-size:14px;
	span{
		float:right;
		height:25px;
		line-height:25px;
		text-align:center;
		color:#969696;
		margin-top:10px;
		-webkit-border-radius:3px;
		border-radius:3px;
		padding:0 6px;
	}
	.now_pay{
		border:1px solid #e1ab8e;
		color:#e1ab8e;
	}
}
.show_more{
	color:#969696;
	text-align:center;
	height:30px;
	line-height:30px;
	display:block;
	border-bottom:1px solid #ccc;
	margin:0 15px;
}
.odetail{
	padding:0 15px;
	color:#787878;
	height:35px;
	line-height:35px;
	font-weight:normal;
	background:#fff;
	font-size:14px;
	border-bottom:1px solid #ccc;
}
.ode_list{
	padding:5px 15px;
	background:#fff;
	li{
		padding:4px 0;
		font-size:14px;
		span{
			float:left;
			width:75px;
		}
		p{
			overflow:hidden;
			color:#646464;
		}
	}
}
.center_tit{
	height:140px;
	width:100%;
	background:url(../images/center_bg.jpg) center no-repeat;
	background-size:cover;
	overflow:hidden;
	position:relative;
}
.center_dl{
	margin:30px auto 0;
	overflow:hidden;
	width:200px;
	dt{
		width:80px;
		height:80px;
		-webkit-border-radius:80px;
		border-radius:80px;
		float:left;
		margin-right:15px;
		background:url(../images/icon/sheep_head.png);
		background-size:100%;
		img{
			width:100%;
			height:100%;
		}
	}
	dd{
		p{
			line-height:20px;
			color:#323232;
			font-size:14px;
		}
	}
}
.message{
	position:absolute;
	right:8px;
	top:15px;
	width:20px;
	height:20px;
	background:url(../images/icon/message.png);
	background-size:100%;
	span{
		background:#fff;
		height:15px;
		line-height:15px;
		font-size:12px;
		color:#ff2828;
		-webkit-border-radius:7px;
		border-radius:7px;
		padding:0 4px;
		position:absolute;
		right:-7px;
		top:-7px;
	}
}
.center_wrap{
	padding-left:15px;
	background:#fff;
	margin-bottom:10px;
}
.center_ltit{
	padding-right:45px;
	position: relative;
	height:45px;
	line-height:45px;
	color:#323232;
	font-size:16px;
	font-weight:normal;
	span{
		float:right;
		color:#646464;
		font-size:12px;
	}
	i{
		display:inline-block;
		vertical-align:middle;
		margin-right:5px;
		position: relative;
	}
	&:after{
		content:"";
		position:absolute;
		top:13px;
		right:15px;
		width:18px;
		height:18px;
		-webkit-transform:rotate(-90deg);
		transform:rotate(-90deg);
		background:url(../images/icon/round_jian.png);
		background-size:100%;
	}
}
.my_order{
	background:url(../images/icon/cicon1.png);
	background-size:100%;
	width:15px;
	height:17px;
	top:-2px;
}
.my_address{
	background:url(../images/icon/cicon2.png);
	background-size:100%;
	width:16px;
	height:19px;
	top:-2px;
}
.my_fen{
	background:url(../images/icon/cicon3.png);
	background-size:100%;
	width:16px;
	height:15px;
	top:-2px;
}
.my_quan{
	background:url(../images/icon/cicon4.png);
	background-size:100%;
	width:18px;
	height:13px;
	top:-2px;
}
.myorder_list{
	li{
		border-top:1px solid #e6e6e6;
		height:44px;
		line-height:44px;
		font-size:14px;
		color:#5a5858;
		padding-right:15px;
		i{
			margin-left:15px;
			color:#646464;
			font-style:normal;
		}
		span{
			float:right;
			color:#969696;
		}
		.no_fahuo{
			color:#ff2828
		}
	}
}
.myaddre_list{
	li{
		border-top:1px solid #e6e6e6;
		line-height:20px;
		font-size:14px;
		color:#646464;
		padding:8px 70px 8px 0;
		position:relative;
		span{
			float:right;
		}
	}
}
.myfen_list{
	li{
		border-top:1px solid #e6e6e6;
		line-height:20px;
		font-size:14px;
		color:#646464;
		padding:5px 15px 5px 0;
		position:relative;
		p{
			height:28px;
			line-height:28px;
		}
	}
}
.myquan_list{
	border-top:1px solid #e6e6e6;
	line-height:20px;
	font-size:14px;
	color:#646464;
	position:relative;
	.quan_limit{
		padding-left:0;
	}
}
.fen_date{
	float:right;
}
.shop_over{
	width:70px;
	height:20px;
	line-height:20px;
	text-align:center;
	border:1px solid #c8c8c8;
	color:#b4b4b4;
	font-size:12px;
	display:inline-block;
}
.fenshu{
	float:right;
	color:#e1ab8e;
	font-weight:bold;
}
.medit{
	position:absolute;
	width:30px;
	height:30px;
	background:url(../images/icon/del.png);
	background-size:100%;
	top:50%;
	margin-top:-15px;
	right:15px;
}
.my_peidi{
	padding:0 15px;
	height:40px;
	line-height:40px;
	font-size:16px;
	color:#323232;
	background:#fff;
	a{
		float:right;
		color:#e1ab8e;
	}
}
.mypei_list{
	background:#fff;
	li{
		padding:5px 15px;
		border-top:1px solid #e6e6e6;
		h4{
			font-weight:normal;
			color:#323232;
			font-size:14px;
			line-height:20px;
		}
		p{
			color:#969696;
			line-height:20px;
			font-size:14px;
		}
	}
}
.peiaddre_list{
	background:#fff;
	margin-bottom:10px;
}
.bot{
	border-bottom:1px solid #e6e6e6;
}
.peiDetail{
	padding:5px 15px;
	border-bottom:1px solid #e6e6e6;
	h3{
		font-weight:normal;
		color:#323232;
		font-size:14px;
		line-height:20px;
	}
	p{
		color:#969696;
		line-height:20px;
		font-size:14px;
	}
}
.pei_bot{
	padding:7px 15px;
	overflow:hidden;
	a{
		float:right;
		width:30px;
		height:30px;
		margin-left:20px;
	}
	.pei_edit{
		background:url(../images/icon/edit.png);
		background-size:100%;
	}
	.pei_del{
		background:url(../images/icon/del.png);
		background-size:100%;
	}
}
.guoqi{
	background:url(../images/icon/quan_hui.png);
	background-size:100%;
	position:relative;
	&:after{
		content:"";
		position:absolute;
		width:50px;
		height:42px;
		background:url(../images/icon/yiguoqi.png);
		background-size:100%;
		right:18px;
		top:4px;
	}
}
.shiyong{
	background:url(../images/icon/quan_hui.png);
	background-size:100%;
	position:relative;
	&:after{
		content:"";
		position:absolute;
		width:50px;
		height:42px;
		background:url(../images/icon/shiyong.png);
		background-size:100%;
		right:18px;
		top:4px;
	}
}
.messages{
	background:#fff;
	li{
		position:relative;
		padding:10px 15px 10px 70px;
		border-bottom:1px solid #e6e6e6;
		h3{
			color:#969696;
			font-weight:normal;
			span{
				float:right
			}
		}
		p{
			color:#5a5858;
			font-size:14px;
			margin-top:5px;
		}
	}
	.system:before{
		content:"";
		position:absolute;
		left:15px;
		top:10px;
		width:45px;
		height:45px;
		background:url(../images/icon/message1.png);
		background-size:100%;
	}
	.jifen:before{
		content:"";
		position:absolute;
		left:15px;
		top:10px;
		width:45px;
		height:45px;
		background:url(../images/icon/message2.png);
		background-size:100%;
	}
}

.myscore{
	background:#e1ab8e;
	padding:16px 0;
	overflow:hidden;
	li{
		width:50%;
		position:relative;
		float:left;
		text-align:center;
		h3{
			color:#fff;
			font-size:30px;
			line-height:35px;
			font-weight:normal;
		}
		p{
			color:#fff;
			font-size:14px;
			line-height:18px;
		}
		&:nth-child(1):after{
			content:"";
			position:absolute;
			width:1px;
			height:100%;
			background:#fff;
			top:0;
			right:0;
		}
	}
}
.myscore_ul{
	padding-left:15px;
	background:#fff;
	li{
		border-top:none;
	}
}

.message_detail{
	margin:25px 15px;
	border:5px solid #fff;
	padding:10px 15px;
	border-image:url(../images/icon/border2.png) 20 round;
	.mds_tit{
		font-size:16px;
		color:#5a5858;
		font-weight:normal;
	}
	.mds_time{
		font-size:12px;
		color:#969696;
		margin-top:8px;
	}
}
.mds_con{
	margin-top:10px;
	p{
		color:#787878;
		font-size:14px;
		line-height:22px;
	}
}
// 弹框
#detail{position:absolute;width:250px;height:120px;background:#fff;border-radius:10px;display:none;-webkit-transform:translate(0,-25%);transform:translate(0,-25%);-webkit-transition:-webkit-transform .3s ease-out;transition:transform .3s ease-out;}
#detail.in{-webkit-transform:translate(0,0);transform:translate(0,0);}
.pop_top{height:75px;width:100%;text-align:center;border-bottom:1px solid rgb(213,213,213)}
.bold_font{padding-top:15px;line-height:24px;font-size:16px;font-weight:bold;}
.small_hui{color:rgb(153,153,153);margin-top:5px;}
.pop_foot{display:-webkit-box;width:100%;}
.pop_foot a{display:block;-webkit-box-flex:1;line-height:44px;text-align:center;font-size:16px;color:rgb(47,136,240);}
.pop_foot a:first-child{border-right:1px solid rgb(213,213,213)}

.shopping_list{
	padding-bottom:48px;
}

.dList{
	max-height:260px;
	overflow-y:auto;
}

.bgf{background:#fff;}

.tanchu{
	position:fixed;background:rgb(0,0,0);padding:15px 22px;color:rgb(255,255,255);font-size:16px;border-radius:10px;text-align:center;
	span{
		display:inline-block;
		width:36px;
		height:36px;
	}
	.tsucc{
		background:url(../images/icon/succ.png);
		background-size:100%;
	}
	.ttan{
		background:url(../images/icon/tanhao.png);
		background-size:100%;
	}
}
.no_wrap{
	text-align:center;
}
.no_state{
	display:block;
	margin:80px auto 20px;
	background:url(../images/sheep.png);
	width:70px;
	height:63px;
}
.ns_text{
	color:#969696;
	font-size:14px;
}
.selyou{
	height:40px;
	line-height:40px;
	background:#f5f5f5;
	border-bottom:1px solid #e6e6e6;
	padding:0 15px;
	overflow:hidden;
	position:relative;
	p{
		height:1px;
		background:#e6e6e6;
		margin-top:19px;
	}
	span{
		position:absolute;
		width:140px;
		text-align:center;
		background:#f5f5f5;
		top:0;
		left:50%;
		margin-left:-70px;
		font-size:14px;
		color:#5a5858;
	}
}
.bushiyou{
	position:fixed;
	bottom:0;
	left:0;
	height:44px;
	line-height:44px;
	background:#fff;
	text-align:center;
	color:#323232;
	right:0;
	font-size:16px;
}
.center_no{
	height:44px;
	line-height:44px;
	color:#646464;
	font-size:14px;
	border-top:1px solid #e6e6e6;
}
.add_dizhi{
	display:inline-block;
	vertical-align:middle;
	width:16px;
	height:16px;
	background:url(../images/icon/adizhi.png);
	background-size:100%;
	margin-left:5px;
}

.content2{
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	width:100%;
	-webkit-transition:all .8s cubic-bezier(0.2,.3,.25,.9);
	transition:all .8s cubic-bezier(0.2,.3,.25,.9);
	background:#f5f5f5;
	&.in{
		-webkit-transform:translate3d(272px,0,0)!important;
		transform:translate3d(272px,0,0)!important;
		height:100vh;
		overflow:hidden;
	}
}
/*加载更多*/
#pullUp,#pullUp2{text-align:center;height:42px;line-height:42px;}
.pullIcon{-webkit-transition-property:-webkit-transform;
    -webkit-transition-duration:250ms;}
.pullup .pullIcon,.flip .pullIcon{display:inline-block;width:28px;height:28px;background:url(../images/jiantou.png) center no-repeat;background-size:28px 22px;vertical-align:middle;}
#pullUp .pullIcon,#pullUp2 .pullIcon{}
#pullUp.flip .pullIcon,#pullUp2.flip .pullIcon{-webkit-transform:rotate(180deg) translateZ(0);}
.loading .pullIcon{display:inline-block;width:28px;height:28px;background:url(../images/loading.png) center no-repeat;vertical-align:middle;-webkit-transform:rotate(0deg) translateZ(0);-webkit-transition-duration:0ms;-webkit-animation-name:loading;-webkit-animation-duration:2s;-webkit-animation-iteration-count:infinite;-webkit-animation-timing-function:linear;}


.order{
	position:absolute;
	top:0;
	left:0;
	bottom:0;
}

@-webkit-keyframes loading {
    from { -webkit-transform:rotate(0deg) translateZ(0); }
    to { -webkit-transform:rotate(360deg) translateZ(0); }
}